.wingame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
.wingame-container .status-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.congrats {
  font-family: "Comic Relief", cursive;
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 8px #ff6f00;
}

.congrats h1 {
  font-size: clamp(1.8rem, 3vw, 3rem);
  margin: 10px 0;
}

.congrats h2 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin: 10px 0;
}

.wingame-container .btns-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.wingame-container .btns-container button {
  font-size: 1.2rem;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(255, 87, 34, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 220px;
  height: 80px;
  margin: 10px auto;
}

.wingame-container .btns-container button:hover {
  background-color: #e03d00;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .wingame-container .btns-container button {
    width: 180px;
    height: 70px;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  
  .wingame-container .btns-container button {
    width: 180px;
    height: auto;
    padding: 10px 20px;
    font-size: 1rem;
  }
}